<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
   <system.webServer>
     <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=UTF-8" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
     </staticContent>
     <httpRedirect enabled="true">
       <add wildcard="/" destination="/en-US" />
     </httpRedirect>
     <rewrite>
       <rules>
         <rule name="Angular en-US" stopProcessing="true">
           <match url="en-US/.*" />
           <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
             <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
           </conditions>
           <action type="Rewrite" appendQueryString="true" url="/en-US/index.html" />
         </rule>
         <rule name="Angular en-CA" stopProcessing="true">
           <match url="en-CA/.*" />
           <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
             <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
           </conditions>
           <action type="Rewrite" appendQueryString="true" url="/en-CA/index.html" />
         </rule>
         <rule name="Angular fr-CA" stopProcessing="true">
           <match url="fr-CA/.*" />
           <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
             <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
           </conditions>
           <action type="Rewrite" appendQueryString="true" url="/fr-CA/index.html" />
         </rule>
       </rules>
     </rewrite>
   </system.webServer>
 </configuration>
